/* Estilos para el contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px; /* Ajusta el ancho máximo del contenedor según tus preferencias */
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cambia el color de fondo si lo deseas */
    padding: 20px;
}

/* Estilos para la columna izquierda con la imagen */
.left-column {
    flex: 1;
    padding-right: 20px;
}

.left-column img {
    max-width: 100%;
}

/* Estilos para la columna derecha con el texto y los botones */
.right-column {
    flex: 2;
}

.right-column p {
    font-size: 18px;
}

/* Estilos para los botones en dos columnas */
.button-group {
    display: flex;
}

.button-column {
    flex: 1;
    margin-right: 10px;
}

/* Estilos para los botones */
button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0074cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056a0;
}
